Django==6.0.5
Pillow==12.2.0
psycopg2-binary==2.9.12
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
python-dotenv==1.2.2
django-allauth[socialaccount]
google-auth
requests
razorpay
celery
redis
django-celery-beat
agora-token-builder
qdrant-client
groq
sentence-transformers
gunicorn
whitenoise[brotli]
